<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{userData.id}}</p>
          <p>
            <strong>Username</strong>: {{userData.username}}</p>
          <p>
            <strong>Balance:</strong> ${{userFinancials.balance}}</p>
             <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <input type="text" id="update-balance" class="form-control" aria-describedby="update-balance" placeholder="Update Your Balance">
                <button id="submit-update-balance" class="btn btn-primary">Update</button>
              </div>
          <p>
            <strong>Balance Start:</strong> ${{balancestart}}</p>
          <p>
            <strong>Balance Previous:</strong> ${{userFinancials.balanceprevious}}</p>
          <p>
            <strong>Income</strong>: ${{userFinancials.income}} per week</p>
          <p>
            <strong>Goal Description:</strong> {{userData.goaldescr}}</p>
          <p>
            <strong>Goal Amount:</strong> ${{userData.goalamount}}</p>
          <p>
            <strong>Progress:</strong> {{userFinancials.progress}}%</p>
          <p>
            <strong>Projected Goal Date:</strong> {{userData.goaldate}}</p>
          <strong>Rate Of Saving:</strong>
            <p>Recommended (15%): ${{userFinancials.rosRecommended}} per week</p>
            <p>Average Since Start: ${{userFinancials.rosSinceStart}} per week</p>
            <p>Average Since Last Check-In: ${{userFinancials.rosSincePrevious}} per week</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>